.input-field {
    align-items: center;
    background-color: #ece8e8;
    border-radius: .5rem;
    border: none;
    border: 1px solid transparent;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    outline-color: blueviolet;
    padding: 0.6em 1.2em;
    width: 100%;
}